[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==4.5.0"
coverage = "==4.5.3"
flake8 = "==3.7.7"

[packages]
nameko-examples-products = {editable = true,path = "./products"}
nameko-examples-gateway = {path = "./gateway"}
nameko-examples-orders = {editable = true,path = "./orders"}

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
